* {
  text-align: center;
  font-family: sans-serif;
}

ul {
  list-style: none;
  width: 318px;
  height: 318px;
  border: 3px solid black;
  padding: 0;
  margin: auto;
}

li {
  float: left;
  width: 100px;
  height: 100px;
  background-color: gray;
  border: 3px solid black;
}

li:hover {
  background-color: yellow;
}

li.played {
  background-color: white;
  font-size: 60px;
  font-weight: bold;
  line-height: 100px;
}

li.X {
  color: blue;

}

li.O {
  color: red;
}

li.green {
  background-color: green;
}

.game-over {
  display: none;
}
